<div class="product-container">
    <img [src]="product.url" alt="" class="product-image" [routerLink]="['/product',product.id]">
    <div>
        <h3>{{product.name}}</h3>
    </div>
    <div>
        <span class="product-price">{{product.price | currency}}</span>
    </div>

    <select name="quantity" id="quantity" class="select-input" [(ngModel)]="quantity" ngModel>
        <option *ngFor="let item of allowedNumberOfProducts; let i = index" [value]="i+1">{{i+1}}</option>
    </select>
    <div class="cta">
        <button class="btn btn-primary" (click)="addToCart(product)">Add to cart</button>
    </div>

</div>