<div *ngIf="cartList.length == 0">
    <div class="empty-cart-message">OOh!! There is not items in the cart</div>
</div>
<div *ngIf="cartList.length > 0">
    <div class="container">

        <div class="card-container">
            <div class="cart-item" *ngFor="let item of cartList; let i = index">
                <div class="cart-img">
                    <img [src]="item.product.url" alt="" class="product-image">
                </div>
                <div class="cart-item-details">
                    <h3>{{item.product.name}}</h3>
                    <span class="product-price">{{item.product.price| currency}}</span>
                    <input type="number" name="quantity" id="quantity" class="number-input" [ngModel]="item.quantity" ngModel (ngModelChange)="onChangeQuantity($event, i)">
                </div>
            </div>
            <div>
                <h3 class="total-price">Total: {{total | currency}}</h3>
            </div>
        </div>

        <form #form="ngForm" class="cart-panel ">
            <label for="name">Full Name</label>
            <input ngModel type="text" name="name" id="name" placeholder="minimum 3 characters" minlength="3" required>
            <label for="address">Address</label>
            <input ngModel type="text" name="address" id="address" placeholder="minimum 6 characters" minlength="6"
                required>
            <label for="creditCard">Credit Card</label>
            <input ngModel type="text" name="creditCard" id="creditCard" placeholder="16 digits number" minlength="16"
                maxlength="16" required pattern="^\d+$">

            <button class="btn btn-primary" (click)="submit(form)" [disabled]="form.invalid">Submit</button>
        </form>

    </div>
</div>